@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono&display=swap');

body {
    background-color: #313131;
    font-family: 'Roboto Mono', monospace;
}

section {
    background-image: url(/img/back.gif);
    background-color: #313131;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 400px;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    border: solid chartreuse;
}

p {
    text-align: center;
    font-size: 60px;
    color: white;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
    width: 100px;
    
}

input {
    text-align: center;
    height: 30px;
    width: 200px;
    display: block;
    margin: 10px auto;
    font-family: 'Roboto Mono', monospace;
    background-color: #313131;
    border-radius: 5px;
    color: white;
    border: solid white 2px;

}

input::placeholder {
    color: rgb(185, 184, 184);
    text-align: center;

}

.btn {
    display: block;
    margin: 20px auto;
    height: 40px;
    width: 80px;
    font-family: 'Roboto Mono', monospace;
    border: solid 1px chartreuse;
    border-radius: 5px;
    color: white;
    background-color: #313131;
    font-weight: bold;
    opacity: 0;
    cursor: default;
    transition: 800ms;
}

.btn:hover {
    background-color: chartreuse;
    color: #313131;
    transition: 800ms;
}
